extends ../layout.pug
block scripts
    script(src="/js/home.js") 
block main

    if !user
        form#login
            input(placeholder="username" name="username")
            br
            input(placeholder="password" name="password" type="password")
            br
            button Log in
    else
        table(border="1")
            each kategori in kategorier
                tr
                    th(colspan="100")= kategori.namn
                each objekt in kategori.objekter
                    tr
                        td= objekt.namn
                        td
                            -
                                const options = ['Slut', 'Nästan slut', 'Finns', 'Finns mycket', '???']
                                const borders = {
                                    Slut: 'red',
                                    "Nästan slut": 'orange',
                                    Finns: 'green',
                                    "Finns mycket": 'cyan',
                                    '???': 'gray'
                                }
                            select(data-kid=kategori._id data-oid=objekt._id style=(`border: 2px solid ${borders[objekt.status]}`))
                                each op in options
                                    option(value=op selected=(objekt.status===op))= op
                